

/*------------------------------FORM-----------------------------------------------------------------------*/



form{
	margin: 1vh;
	margin-top: 5vh;
}

.abstand{
	margin-left: 0.41vw;
}

#pflichtprufcheck{
	height: 2.6vh;
	width: 2.6vw;
	margin-left: -1.5vw;
}

#dataliststudsem, #datalistanwesen{
	width: 31.5vw;
	margin-top: 0.5vh;
	border-radius: 3px;
	border-color: white;
	border-style: none;
}

#inputlistanweseninput, #inputliststudseminput{
	width: 27vw;
	margin-right: -0.2vw;
	border-radius: 3px;
	border-color: white;
	border-style: none;

}
#buttonaddstudsem, #buttonaddanwesen {
	width: 4.2vw;
	margin-left: 0;
	height: 2.8vh;
	min-height: 1.5em;
	color: white;
	background-color: black;
}

#buttonaddstudsem:hover,#buttonaddanwesen:hover {
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

#pp{
	font-size: small;
	margin-left: 2vw;
	color: gray;
	padding-top: 0.5vh;
	margin-right: 0.3vw;
}

textarea{
	width: 31.3vw;
	border-radius: 3px;
	border-color: white;
	border-style: none;
	font-family: arial;
}

.waehlen, input{
	width: 20.7vw;
	height: 2.8vh;
	min-height: 1em;
	border-radius: 3px;
	border-color: white;
	border-style: none;
}

#buttonAddPruf,#buttonLöschen{
	height: 2.8vh;
	min-height: 1.5em;

	background-color: black;
	color: white;
	font-weight: bold;
}

#buttonAddPruf:hover, #buttonLöschen:hover{
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

th, td{
	border: 1px solid black;

	hyphens: auto;  /*funktioniert nicht*/
}

th{
	background-color: black;
	color: white;
	font-weight: normal;

}

table{
	font-size: max(0.7vw, 0.27cm);
	border-collapse: collapse;
	width: 100%;
	overflow: scroll;


}

#tablediv{
		position: sticky;
		top: 0;
		z-index: 12;
    height: 75vh;
    overflow: auto;
		border-top: 2px solid white;
}

thead{
	position: sticky;
	top: 0;


}

mark{
    background: #F3FE36;
    color: black;
}

#suche{
	width: 10vw;
}

.datetimeHausarbeit{
	width: 100%;
	font-size: 0.7rem;
}

.löschknopf:hover, .dateknopf:hover{
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

.löschknopf, .dateknopf{
	width: 2em;
	color: white;
	background-color: black;

}

.dateknopf{
	margin-top: 0.2vh;
}



.bearbeitenbutton, #pdf{
	cursor: pointer;
}
.bearbeitenbutton:hover, #pdf:hover{
	color: #F46EBE;
	border-color: 1px solid #F46EBE;
}

#pdf{
	background-color: black;
	color: white;
	margin-left: 0.5vw;
	margin-top: 0.5vh;
}

.kleinerText{
	font-size: max(0.5vw, 0.27cm);
}

.abgelaufen{
	text-decoration: line-through;
	opacity: 0.5;
}



#untencontrol{
	margin-top: 2vh;
}

.hausarbeitdatum{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	padding-top: 0.5vh;
	border-top: 1px dashed black;

}
