

/*------------------------------FORM-----------------------------------------------------------------------*/



form{
	margin: 1vh;
	margin-top: 5vh;
}

.abstand{
	margin-left: 0.41vw;
}

#pflichtprufcheck{
	height: 2.6vh;
	width: 2.6vw;
	margin-left: -1.5vw;
}

#dataliststudsem, #datalistanwesen{
	width: 31.5vw;
	margin-top: 0.5vh;
	border-radius: 3px;
	border-color: white;
	border-style: none;
}

#inputlistanweseninput, #inputliststudseminput{
	width: 27vw;
	margin-right: -0.2vw;
	border-radius: 3px;
	border-color: white;
	border-style: none;

}
#buttonaddstudsem, #buttonaddanwesen {
	width: 4.2vw;
	margin-left: 0;
	height: 2.8vh;
	min-height: 1.5em;
	color: white;
	background-color: black;
}

#buttonaddstudsem:hover,#buttonaddanwesen:hover {
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

#pp{
	font-size: small;
	margin-left: 2vw;
	color: gray;
	padding-top: 0.5vh;
	margin-right: 0.3vw;
}

textarea{
	width: 31.3vw;
	border-radius: 3px;
	border-color: white;
	border-style: none;
	font-family: arial;
}

.waehlen, input{
	width: 20.7vw;
	height: 2.8vh;
	min-height: 1em;
	border-radius: 3px;
	border-color: white;
	border-style: none;
}

#buttonAddPruf,#buttonLöschen{
	height: 2.8vh;
	min-height: 1.5em;

	background-color: black;
	color: white;
	font-weight: bold;
}

#buttonAddPruf:hover, #buttonLöschen:hover{
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

th, td{
	border: 1px solid black;
	border-radius: 3px;
}

th{
	background-color: black;
	color: white;
	font-weight: normal;
}

table{
	margin-top: 5vh;
	font-size: max(0.7vw, 0.27cm); */

}
#tablediv{
	width: 100%;
	overflow-x: scroll;
}

.datetimeHausarbeit{
	width: 11vw;
	font-size: 0.7rem;
}

.löschknopf:hover, .dateknopf:hover{
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

.löschknopf, .dateknopf{
	width: 2em;
	color: white;
	background-color: black;

}

.dateknopf{
	margin-top: 0.2vh;
}



.bearbeitenbutton{
	cursor: pointer;
}
.bearbeitenbutton:hover{
	color: #F46EBE;
	border-color: #F46EBE;
}

.kleinerText{
	font-size: max(0.5vw, 0.27cm);
}

.abgelaufen{
	text-decoration: line-through;
	opacity: 0.5;
}

.hausarbeitdatum{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	padding-top: 0.5vh;
	border-top: 1px dashed black;
}

@media print {
  body * {
    visibility: hidden;
  }
  #tablePruf, #tablePruf * {
    visibility: visible;
  }
  #tablePruf {
    position: absolute;
    left: 0;
    top: 0;
		width: 29.7cm;
		-webkit-print-color-adjust: exact;

  }
	th{
		/* background-color: #5EBA7D; */
		color: black;
		background-color: #95F0B6 !important;
		border: 2px solid black;
    -webkit-print-color-adjust: exact;
	}


	@page {size: landscape}
}
