

/*------------------------------FORM-----------------------------------------------------------------------*/

form{
	margin: 1vh;
	margin-top: 5vh;
	display: flex;
	flex-wrap: wrap;
	gap: 1vw;
}


#datalistpruf{
	width: 17.57vw;
	margin-top: 0.5vh;
	border-radius: 3px;
	border-color: white;
	border-style: none;
	overflow-x: scroll;
}

#inputlistprufinput{
	width: 13vw;
	margin-right: -0.2vw;
	border-radius: 3px;
	border-color: white;
	border-style: none;

}
#buttonaddpruf{
	width: 4.2vw;
	margin-left: 0;
	height: 2.8vh;
	min-height: 1.5em;
	color: white;
	background-color: black;
}

#buttonaddpruf:hover{
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

#selectroomcat{
	width: 13vw;
	height: 2.8vh;
	min-height: 1em;
	border-radius: 3px;
	border-color: white;
	border-style: none;
}

#buttonSuchen, #buttonEintragen{
	height: 2.8vh;
	min-height: 1.5em;
	width: 12em;
	background-color: black;
	color: white;
	font-weight: bold;
}

#buttonSuchen:hover, #plus:hover, #minus:hover, #buttonEintragen:hover{
	border: 1px solid #F46EBE;
	color: #F46EBE;
}

#plus, #minus{
	width: 2em;
	color: white;
	background-color: black;
}

#plus{
	margin-left: -0.8vw;
}

#minus{
	margin-right: -0.8vw;
}


/*GRID---------------------------------------------*/

.insidediv, .capcounterInner, .capcounterInner2{
	border: 2px solid black;
	border-radius: 10px;
	padding: 1vh;
	margin: 1px;
	background-color: white;
}

.capcounterInner, .capcounterInner2{
	background-color: #A9CAEB;
}

.capcounterOuter, .capcounterOuter2{

}

.space, .space2{
	display: inline-block;
	width: 3.55em;
}

.outsidediv{
	display: flex;
	flex: none;
	border-bottom: 1px solid gray;
	width: 100%;
}

.outsidediv:first-child, .outsidediv:nth-last-child(2){
	border-bottom: 3px solid gray;
}

.nameDiv, .nameDivTwo{
	flex:0 0 15vw;
	position: sticky;
	left: 0;
	background-color: #95F0B6;
	border-right: 1px solid gray;
	opacity: 100%;
	/*vertical-align: sub;*/
	z-index: 1;
	padding-left: 0.2vw;
}

.nameDivTwo{
	font-weight: bold;
	text-align: center;
	padding-top: 1.5vh;
}

#raumgrid{
	width: 100%;
	overflow-x: scroll;
	margin-top: -10vh;
	margin-bottom: 7vh;
}

::-webkit-scrollbar {
  width: 10px;
	background: white;
	height: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
	border-radius: 100px;
}

::-webkit-scrollbar-track-piece{
	background:#E7E9EB;
}

::-webkit-scrollbar-track-piece:hover{
	background: #E7E9EB;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #black;
		border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb{
  background: black;
		border-radius: 100px;
}

/*Drag and Drop ELemmt*/




.belegt{
	border-color: #C82311;
	color: #C82311;
}

.belegt span{
	text-decoration: line-through;
}
.belegt2{
	border-color: #FBA15A;
	color: #FBA15A;
}

.belegt2 span{
	text-decoration: line-through;
}

.dnd{
	width: 4.5vw;
	height: 4.5vh;
	background-color: pink;
	border: 1px solid black;
	border-radius: 30px;
	vertical-align: middle;
	text-align: center;
	font-size: medium;
	cursor: move;

}


#panel{
	display:flex;
	position: sticky;
	z-index: 2;
	bottom: 7.5vh;
	width: 21vw;
}

.newdrag{
	justify-content: center;
	align-items: center;
	width: 10vw;
	height: 10vh;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 1vh;
	margin-left: 0.5vw;
	font-size: x-small
}

#paperbin{
	background-color: rgba(149, 240, 182, 0.7);
	border-radius: 10px;
}

#eintragen{
	float: right;
	margin-bottom: 13vh;
	margin-top: -3vh;
	margin-right: 1vw;
}
