
/*------------------------------FORM-----------------------------------------------------------------------*/

/* form{
	margin: 1vh;
	margin-top: 5vh;
	display: flex;
	flex-wrap: wrap;
	gap: 1vw;
}


#buttonEintragen1, #buttonLöschen1{
	height: 2.8vh;
	min-height: 1.5em;
	width: 8vw;
	background-color: black;
	color: white;
}

#buttonEintragen1:hover, #buttonLöschen1:hover{
	border: 1px solid #F46EBE;
	color: #F46EBE;
} */
